


.top{
  text-align: center;
}

.middle{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.bottom{
  /* background: black; */
  /* margin-left: 25%; */
}

.audio{
  text-align: center;
}

.sort{
  width: 300px;
  height: 40px;
  font-size: 40px;
}

.sort_button{
  font-size: 40px;
}

.search{
  width: 300px;
  height: 40px;
  font-size: 40px;
}

.search_button{
  font-size: 40px;
}

.register{
  font-size: 40px;
}

.register_button{
  font-size: 40px;
}


.left{
  float: left;
  width: 20%;
  margin-left: 30%;
  /* margin-right: 5%; */
}

.right{
  float: left;
  width: 20%;
  /* margin-left: 5%; */
  margin-right: 30%;
}
